//********************************//
// bourbon/neat grid overrides

// $grid-columns: 12
// $column: px or em
$gutter: 0em
// $max-width: 88em

// $visual-grid: true //false
$visual-grid-color: #ccc //#eee
$visual-grid-index: front
// $visual-grid-opacity

//********************************//
// colors

$lt-grey: #f8f8f8
