extends _partials/layout

block append vars
  title = "Test Layout"
  description = "This is the description!"

block content
  h3 This is my title
  p Lebowski ipsum excuse me! Mark it zero. Next frame. Vee could do things you only dreamed of, Lebowski. Mind if I smoke a jay? People forget that the brain is the biggest erogenous zone. Mr. Lebowski asked me to repeat that: Her life is in your hands. That is our most modestly priced receptacle. Is this yours, Larry? Is this your homework, Larry? …which would place him high in the runnin' for laziest worldwide—but sometimes there's a man… sometimes there's a man.
  h3 This is Another title
  p It's a complicated case, Maude. Lotta ins. Lotta outs. And a lotta strands to keep in my head, man. But that is up to little Larry here. Isn't it, Larry? Tomorrow vee come back und cut off your chonson. Donny was a good bowler, and a good man. He was… He was one of us. He was a man who loved the outdoors, and bowling, and as a surfer explored the beaches of southern California from Redondo to Calabassos. And he was an avid bowler. And a good friend. He died—he died as so many of his generation, before his time. In your wisdom you took him, Lord. As you took so many bright flowering young men, at Khe San and Lan Doc.

  p Please see him, Jeffrey. He's a good man. And thorough. This Chinaman is not the issue! DO YOU SEE WHAT HAPPENS, LARRY? I spent most of my time occupying various, um, administration buildings, smoking thai-stick, breaking into the ROTC and bowling. Little matter to me that this woman chose to pursue a career in pornography. These men are nihilists, Donny, nothing to be afraid of. Yeah man. Well, you know, the Dude abides.

block append scripts
  script(src="#{jsPath}/script.js")