extends _partials/layout

block append vars
  title = "Test Layout"
  description = "This is the description!"

block content
  h3 This is my title
  p That's the ONLY thing about being a slave. Ask her how her day was. Dear God, they'll be killed on our doorstep! And there's no trash pickup until January 3rd. It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels.
  h3 This is Another title
  p OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. Yes, if you make it look like an electrical fire. When you do things right, people won't be sure you've done anything at all. Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at it? As an interesting side note, as a head without a body, I envy the dead. We'll go deliver this crate like professionals, and then we'll go home. And then the battle's not so bad?

block append scripts
  script(src="#{jsPath}/script.js")