extends _partials/layout

block append vars
  title = "Adam Lichtenstein: Survey Monkey"
  description = "Cover letter for Survey Monkey"

block content
  p Hi,

  p
    | I'm applying for your Web Application Developer position.  Please see&nbsp;
    a(href="https://adamin.meteor.com/") my full resume
    |.

  p Beyond being a fan of SurveyMonkey, I truly love building mockups.

  p I enjoy architecting OOCSS structures, creating re-usable modules, learning new best practices, and writing custom SASS functions.  In short, I am a mockup geek.

  p
    |I've posted several tools I created to do mockups on my
    a(href="https://github.com/pensive612")&nbsp;Github account
    | . Including:

  ul
    li
      a(href="https://github.com/pensive612/adamin-mock-seed") adamin-mock-seed
      | - a simple mockup structure I set up for new projects.  It includes fully dynamic template loading with Jade.  And my preferred CSS structure which is similar to SMACSS, using Sass.
    li
      a(href="https://github.com/pensive612/Adamin-Clone") adamin-clone
      | - one of the plugins I use the most.  I wasn't able to find a good solution for quickly cloning nested elements in jQuery, so I built a plugin that works perfect for me.  I built it with TDD using Qunit and Grunt.
    li
      a(href="https://github.com/pensive612/angular-seed") adamin-mock-seed
      | - I customized a version of Angular seed that utilized SASS, HAML and CoffeeScript for creating quick Angular mockups.  However, after Yeoman was released, this idea was quickly abandoned ;)

  p There's a lot more stuff I'm interested in doing, and I'd be excited for an opportunity to discuss your needs and see if I could help be a part of it.

  p I am currently in Los Angeles, but my family and I have been discussing relocating up north for quite a while.

  p Thanks in advance,

  p Adam Lichtenstein

  p
    a(href="https://adamin.meteor.com/") https://adamin.meteor.com/



block scripts
